@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);

@font-face {font-family: 'avertabold';src: url('averta-bold-webfont.woff2') format('woff2'),url('averta-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {font-family: 'avertaregular';src: url('averta-regular-webfont.woff2') format('woff2'),url('averta-regular-webfont.woff') format('woff');font-weight: normal;
    font-style: normal;
}



body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  
  font-style: normal;
  line-height: 1.6;
  color: #A8A8A8;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.4rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.84rem;
}
.display-4 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.8rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.28rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #efefef !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e4e4e4 !important;
  border-color: #e4e4e4 !important;
  color: #58017D !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #58017D !important;
  background-color: #e4e4e4 !important;
  border-color: #e4e4e4 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  /*color: #ffffff !important;*/
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #707070;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #efefef !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #bcbcbc !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #efefef;
  border-color: #efefef;
  color: #7c7c7c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #efefef;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}
.form-control {
  /*background-color: #e4e4e4;*/
  box-shadow: none;
  color: #565656;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.28rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #efefef;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
  -webkit-justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #efefef;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #efefef;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #efefef;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #efefef;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: none;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-inner-div-media{
  padding-top: 2px;
}

.hr-processed-order-media{
  margin-left: 613px ! important;
}

.hr-processed-order-media-1{
  margin-left: 658px ! important;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto!important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #efefef;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: contrast(currentColor, #000000, #ffffff, 30%);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #efefef;
}
.cid-rNDrya5QF1 .navbar {
  background: #58017D;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}


.cid-rOhlph0oA1 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/hero-section-image-1920x9500.png");
}
.cid-rOhlph0oA1 .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rOhlph0oA1 .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rOhlph0oA1 .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rOhlph0oA1 .mbr-text {
    text-align: center;
  }
}


.cid-rNDrya5QF1 .navbar-dropdown.bg-color.transparent.opened {
  background: #58017d;
}
.cid-rNDrya5QF1 a {
  font-style: normal;
}
.cid-rNDrya5QF1 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rNDrya5QF1 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rNDrya5QF1 .nav-item:focus,
.cid-rNDrya5QF1 .nav-link:focus {
  outline: none;
}
.cid-rNDrya5QF1 .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rNDrya5QF1 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rNDrya5QF1 .menu-logo {
  margin-right: auto;
}
.cid-rNDrya5QF1 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rNDrya5QF1 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rNDrya5QF1 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rNDrya5QF1 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rNDrya5QF1 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rNDrya5QF1 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rNDrya5QF1 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rNDrya5QF1 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rNDrya5QF1 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rNDrya5QF1 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rNDrya5QF1 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rNDrya5QF1 .dropdown .dropdown-menu {
  background: #58017d;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rNDrya5QF1 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rNDrya5QF1 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rNDrya5QF1 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rNDrya5QF1 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rNDrya5QF1 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}

.cid-rNDrya5QF1 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rNDrya5QF1 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rNDrya5QF1 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rNDrya5QF1 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rNDrya5QF1 .navbar.navbar-short .navbar-logo a img {
  /*height: 3rem !important;*/
}
.cid-rNDrya5QF1 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rNDrya5QF1 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rNDrya5QF1 button.navbar-toggler:focus {
  outline: none;
}
.cid-rNDrya5QF1 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-rNDrya5QF1 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rNDrya5QF1 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rNDrya5QF1 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rNDrya5QF1 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rNDrya5QF1 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rNDrya5QF1 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rNDrya5QF1 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rNDrya5QF1 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rNDrya5QF1 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rNDrya5QF1 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rNDrya5QF1 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rNDrya5QF1 .collapsed .navbar-collapse.collapsing,
.cid-rNDrya5QF1 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rNDrya5QF1 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rNDrya5QF1 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rNDrya5QF1 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rNDrya5QF1 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rNDrya5QF1 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rNDrya5QF1 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rNDrya5QF1 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rNDrya5QF1 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rNDrya5QF1 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rNDrya5QF1 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rNDrya5QF1 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rNDrya5QF1 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rNDrya5QF1 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rNDrya5QF1 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rNDrya5QF1 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rNDrya5QF1 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rNDrya5QF1.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  /*.cid-rNDrya5QF1 img {
    height: 3.8rem !important;
  }*/
  .cid-rNDrya5QF1 .btn {
    display: -webkit-flex;
  }
  .cid-rNDrya5QF1 button.navbar-toggler {
    display: block;
  }
  .cid-rNDrya5QF1 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rNDrya5QF1 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rNDrya5QF1 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rNDrya5QF1 .navbar-collapse.collapsing,
  .cid-rNDrya5QF1 .navbar-collapse.show {
    display: block !important;
    margin-top: 20px!important;
  }
  .cid-rNDrya5QF1 .navbar-collapse.collapsing .navbar-nav,
  .cid-rNDrya5QF1 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rNDrya5QF1 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rNDrya5QF1 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rNDrya5QF1 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rNDrya5QF1 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rNDrya5QF1 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rNDrya5QF1 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rNDrya5QF1 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rNDrya5QF1 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rNDrya5QF1 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rNDrya5QF1 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rNDrya5QF1 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rNDrya5QF1 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rNDrya5QF1 .nav-link:hover,
.cid-rNDrya5QF1 .dropdown-item:hover {
  color: #767676 !important;
}
.cid-rNDs1e2IGD {
  background-image: url("../../../assets/images/hero-section-image-1920x950.png");
}
.cid-rNDsef0Rkz {
  padding-top: 90px;
  /*padding-bottom: 90px;*/
  background-color: #ffffff;
}
.cid-rNDsef0Rkz .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-rNDsef0Rkz h4 {
  text-align: center;
}
.cid-rNDsef0Rkz p {
  text-align: center;
}
.cid-rNDsef0Rkz .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-rNDsef0Rkz .card-title,
.cid-rNDsef0Rkz .card-img {
  text-align: left;
}
.cid-rNDsFMAkop {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rNDsFMAkop .mbr-section-subtitle {
  color: #767676;
}
.cid-rNDsFMAkop .formoid {
  margin: auto;
}
.cid-rNDsFMAkop .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-rNDsFMAkop .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 !important;
}
.cid-rNDsFMAkop a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rNDsFMAkop a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
@media (max-width: 768px) {
  .cid-rNDsFMAkop .mbr-form .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rNDsFMAkop .form-group,
  .cid-rNDsFMAkop .input-group-btn,
  .cid-rNDsFMAkop .input-group-btn .btn {
    max-width: 300px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .cid-rNDsFMAkop .mbr-form .row > * {
    padding: 0 0.5rem;
  }
}
.cid-rNDsWcIaDh {
  /*padding-top: 90px;*/
  /*padding-bottom: 90px;*/
  background-color: #d2d2d2;
}
.cid-rNDsWcIaDh .mbr-text {
  color: #767676;
}
.cid-rNDsWcIaDh h4 {
  text-align: center;
}
.cid-rNDsWcIaDh p {
  text-align: center;
}
.cid-rNDsWcIaDh .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-rNDt802JK9 {
  /*padding-top: 90px;*/
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rNDt802JK9 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rNDt802JK9 p {
  color: #767676;
  text-align: left;
}
.cid-rNDt802JK9 .card-box {
  padding-top: 2rem;
}
.cid-rNDt802JK9 .card-wrapper {
  height: 100%;
}
.cid-rNDtdbDkhj {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rNDtdbDkhj h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rNDtdbDkhj p {
  color: #767676;
  text-align: left;
}
.cid-rNDtdbDkhj .card-box {
  padding-top: 2rem;
}
.cid-rNDtdbDkhj .card-wrapper {
  height: 100%;
}
.cid-rNDtc6XIcH {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rNDtc6XIcH h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rNDtc6XIcH p {
  color: #767676;
  text-align: left;
}
.cid-rNDtc6XIcH .card-box {
  padding-top: 2rem;
}
.cid-rNDtc6XIcH .card-wrapper {
  height: 100%;
}
.cid-rNDtm1hBwb {
  /*padding-top: 90px;*/
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rNDtm1hBwb h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rNDtm1hBwb p {
  color: #767676;
  text-align: left;
}
.cid-rNDtm1hBwb .card-box {
  padding-top: 2rem;
}
.cid-rNDtm1hBwb .card-wrapper {
  height: 100%;
}
.cid-rNDtmwsxTf {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rNDtmwsxTf h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rNDtmwsxTf p {
  color: #767676;
  text-align: left;
}
.cid-rNDtmwsxTf .card-box {
  padding-top: 2rem;
}
.cid-rNDtmwsxTf .card-wrapper {
  height: 100%;
}
.cid-rNDtCeDr5X {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rNDtCeDr5X h2 {
  text-align: left;
}
.cid-rNDtCeDr5X h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rNDtCeDr5X p {
  color: #767676;
  text-align: left;
}
.cid-rNDtCeDr5X .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rNDtCeDr5X .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rNDtCeDr5X .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rNDtCeDr5X .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rNDtCeDr5X .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rNDtCeDr5X .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rNDtCeDr5X .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rNDtCeDr5X .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-rNDtCeDr5X .card-img span {
    font-size: 40px !important;
  }
}

.cid-rOr7Bnd4Pl {
  padding-top: 10px;
  padding-bottom: 90px;
  background-color: #ffffff;
  margin-top: -20px;
}
.cid-rOr7Bnd4Pl .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rOr7Bnd4Pl .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-rOr7Bnd4Pl .card_cont {
  -o-transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all .5s;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #58017D;
}
.cid-rOr7Bnd4Pl .card-front {
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cid-rOr7Bnd4Pl .card-front img {
  height: 100%;
  min-width: 100%;
  width: auto;
}
.cid-rOr7Bnd4Pl .card_back {
  /*width: 100%;*/
  /*height: 100%;*/
  padding: 30px 30px;
  color: #ffffff;
  background-color: #58017D;
  z-index: 1;
  margin: 0;
  text-align: center;
  overflow: hidden;
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);

    /*height: 220px;*/
    border-radius: 30px;
}
.cid-rOr7Bnd4Pl .card {
  min-height: 300px;
}
.cid-rOr7Bnd4Pl .card:hover .card-front {
  z-index: 1;
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cid-rOr7Bnd4Pl .card:hover .card_back {
  z-index: 2;
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cid-rOr7Bnd4Pl .builderCard .card_back {
  border-bottom-left-radius: 100px;
}
.cid-rOr7Bnd4Pl .builderCard .card_cont {
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidd;
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.cid-rNDtFNiRhT {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rNDtFNiRhT h2 {
  text-align: left;
}
.cid-rNDtFNiRhT h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rNDtFNiRhT p {
  color: #767676;
  text-align: left;
}
.cid-rNDtFNiRhT .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rNDtFNiRhT .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rNDtFNiRhT .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rNDtFNiRhT .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rNDtFNiRhT .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rNDtFNiRhT .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rNDtFNiRhT .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-rNDtFNiRhT .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-rNDtFNiRhT .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-rNDtFNiRhT .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
@media (max-width: 300px) {
  .cid-rNDtFNiRhT .card-img span {
    font-size: 40px !important;
  }
}
.cid-rNDtMJWRWX {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #58017d;
}
@media (max-width: 767px) {
  .cid-rNDtMJWRWX .content {
    text-align: center;
  }
  .cid-rNDtMJWRWX .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rNDtMJWRWX .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rNDtMJWRWX .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rNDtMJWRWX .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rNDtMJWRWX .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rNDtMJWRWX .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rNDtMJWRWX .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rNDtMJWRWX .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rNDtMJWRWX .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rNDtMJWRWX .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rNDtMJWRWX .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rNDtMJWRWX .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rNDtRVzGUV {
  /*padding-top: 30px;*/
  padding-bottom: 30px;
  background-color: #58017d;
}





.cid-rOhlph0oA11 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/baked-beer-cheese-724216.png");
}
.cid-rOhlph0oA11 .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-rOhlph0oA11 .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rOhlph0oA11 .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rOhlph0oA11 .mbr-text {
    text-align: center;
  }
}


.nav-icons {
    width: 40px;
    height: 40px;
    background-color: #ab34de;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 7px;
}

.drop-arrow-button {
     border-style: none;
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 107px;
    height: 45px;
    cursor: pointer;
    background-color: #58017D;
    border-radius: 25px;
}

.drop-arrow-btn {
  /*border-bottom: solid;*/
  /*border-left: solid;*/
  /*border-right: solid;*/
     border-style: solid;
    border-width: 1px;
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 30px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(80, 80, 80, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /*border-radius: 50%;*/
    /*-webkit-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
}

.btn-view{
  float: right;
  margin-top: -33px;
  margin-right: 30px;
  color: white;
  background-color: #58017D;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-color: #58017D;
}

.floating-busket-counter{

    background-color: purple;
    width: 13px;
    height: 13px;
    border-radius: 25px;
    margin-top: -42px;
    margin-left: 365px;

}

.basket-label{
    box-shadow: 5px 10px 8px #888888;
    padding: 5px;
    width: 450px;
    margin-left: 330px;
    margin-top: -10px;
    /*margin-bottom: 90px;*/
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #ffffff;

}

.navbar-dropdowns {
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.45s ease;
  z-index: 1030;
  background: #ffffff00; 
  margin-bottom: 40px;
}

  .navbar-dropdowns.navbar-fixed-tops {
    position: fixed; 
  }

.heading-chow{

    text-align: center;
    color: #58017D;
    margin-bottom: 50px;
}

.image-custom{

  border-radius: 30px;
  height: 220px;
}

.button-load-more{
    padding: 5px;
    color: white;
    border-color: #58017D;
    background-color: #58017D;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 510px;
    margin-top: 20px;
}

.button-continue{
  background-color: #58017D;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 10px;
    padding: 10px;
    width: 90px;
}

.have-an-account{
    font-size: 12px;
    margin-left: 140px;
    padding-bottom: 10px;
}

.menu-button-edit{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 26px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 83px;
    font-size: 13px;
}

.current-balance-parent-div{

  width: 323px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 62px;
  border-style: solid;
  border-width: 1.3px;
  border-color: #cecece;
  margin-top: 15px;
  margin-left: 22px;
  margin-bottom: 8px;
   
}

.current-balance-child1-div{

    width: 150px;
    margin-top: 12px;
    margin-left: 16px;
}

.current-balance-h4-1{
font-size: 15px;
color: #707070;
}

.button-top-up{
  width: 83px;
  margin-left: -5px;
  border-radius: 25px;
  height: 39px;

}

.curent-balance-child2-div{
  width: 155px;
  margin-left: 223px;
  margin-top: -48px;
}

.button-all-orders{
    font-size: 12px;
    width: 35px;
    height: 25px;
    background-color: #58017D;
    border-radius: 50px;
    text-align: center;
    padding-top: 6px;
    color: white;
}

.favorite-icon{
    background-color: purple;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.x-button-floating{

    margin-right: 110px;
    margin-top: 30px;
    background-color: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.round-small-image{
    height: 40px;
    border-radius: 50px;
    width: 40px;
    margin-top: -11px;
}


.ul-dash {
    list-style-type: none !important; ;
    color: #A8A8A8;
    padding-left: 0px ! important;
    margin-left: 0px ! important;
}

.commucation-button{
  width: 35px;
  height: 35px;
  background-color: #58017D;
  border-radius: 50px;
  margin-left: 1100px;
  margin-top: -6px;
}

.communication-img{

  margin-left: 6px;
  margin-top: 5px;
}

select {
  background-image: url("../../../assets/images/chevron-down.svg");
  /*background-image:
    linear-gradient(45deg, transparent 50%, black 60%),
    linear-gradient(135deg, black 40%, transparent 50%) !important;*/
  background-position:
    calc(100% - 30px) 14px,
    calc(100% - 20px) 14px,
    100% 0;
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-drop {
  background-image: url("../../../assets/images/chevron-down.svg");
  /*background-image:
    linear-gradient(45deg, transparent 50%, black 60%),
    linear-gradient(135deg, black 40%, transparent 50%) !important;*/
  background-position:
    calc(100% - 30px) 18px,
    calc(100% - 20px) 14px,
    100% 0;
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}




.comming-soon{
    font-size: 7px;
    margin-left: 80px;
    margin-top: -58px;
    text-align: center;
    border-radius: 50px;
    background-color: #c56ac5;
    color: black;
    height: 16px;
    padding: 4px;
    width: 24px;
}

.button-readmore-rider{

  background-color: #58007D;
  border-radius: 25px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 500px;
  margin-top: 70px;
}

.column {
  float: left;
  width: 50%;
}
.drop-down-arrow {
    font-size: 15px;
    padding-top: 20px;
    padding-left: 9px;
}

.modal-all-order-form{
  border-radius: 20px;
  background-color: #F6F6F6;
  height: 400px;
}

.modal-div-all-orders-active{
background-color: white;
width: 390px;
height: 40px;
border-radius: 25px;
margin-right: 16px;

}

.restaurants-button{
  color: #000000;
  border-color: #ffffff;
  border-radius: 25px;
  width: 90px;
  height: 39px;
  border-style: none;
}

.modal-button-all-orders-active{
  font-size: 10px;
  background: #58007D;
  border-radius: 25px;
  color: white;
  height: 41px;
  margin-top: -1px;
  border-color: #58007D;
  width: 126px;
}

.food-background{

 background-image: url("../../../assets/images/banku & tilapia.png");

}




.pick-up-button{
  height: 42px;
  margin-bottom: 30px;
  color: #C8C8C8; 
  background-color: #F6F6F6;
   border-radius: 25px;
   width: 100px;
   border-color: #F6F6F6;
   background-color: #F6F6F6;
   padding-top: -1px;
   margin-top: 4px;
   margin-left: 5px;
   border-style: none;
   border-right-style: none;
}

/* Style the active class, and buttons on mouse-over */
.active, .pick-up-button:hover {
  background-color: #58017D;
  color: white;
}


.delivery-button{
  height: 42px;
  margin-bottom: 30px;
  border-radius: 25px;
  width: 100px;
  color: white;
  background-color: #58017D;
  padding-top: -1px;
  margin-top: 4px;
  margin-left: 5px;
  border-style: none;
  border-right-style: none;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 10px;
    bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #58007D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #58007D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#restaurantsId{
    margin-left: 64px ! important;
  }

@media only screen and (max-width: 800px) {

  .image-media{

    height: 45px ! important;
    margin-left: 15px;

  }

  #restaurantsId{
        margin-left: 0px ! important;
  }

  .nav-media-ios{
    margin-left: 20px ! important;
    margin-top: 20px;

  }

  .nav-media-google-play{
    margin-left: 22px ! important;
    margin-top: 15px;
  }

  .nav-media-avator{
    margin-left: 24px ! important;
    margin-top: 15px;
  }

  .nav-menu-media{
    margin-left: 35px ! important;
    margin-top: 15px;
    padding-bottom: 15px;
  }

  .referFriendId{
    margin-top: -20px;
    margin-left: 100px ! important;

  }

  .media-number-order{
    margin-left: 270px ! important;
    margin-top: -30px ! important;
  }

  .my-rating-media{
    margin-left: 100px ! important;
    margin-top: -20px;
  }

  .customer-support{

    margin-left: 100px ! important;
    margin-top: -20px;
    margin-bottom: 20px;

  }

  .x-button-floating{
    margin-right: 170px ! important;
  }

  .all-order-media{
    margin-top: -20px ! important;
    margin-left: 100px ! important;
  }

  .media-edit-button{
    margin-top: -65px;
    margin-left: 190px;
  }

  .media-menu-login{
    margin-left: 15px;
    margin-top: 25px;
  }

  .button-continue{
    /*margin-left: 30px;*/
  }

  .modal-title{

    margin-right: 140px ! important;
  }
  .closed-status-media{
    margin-left: 370px ! important;
    margin-top: -50px ! important;
    margin-bottom: 30px;
  }
  .basket-label{
    margin-left: 10px ! important;
    width: 300px ! important;
  }

  .commucation-button{
    margin-left: 370px ! important;
    margin-top: -10px ! important;
  }

  .status-media-closed{
    margin-top: 5px ! important;
  }

  .all-restorant-rating-media{
    margin-left: 193px ! important;
    margin-top: -75px ! important;
  }

  .media-card-box{
    width: 353px ! important;
  }

  .button-load-more{
    margin-left: 145px ! important;
    margin-top: 50px ! important;
  }

  .floating-busket-counter{
    margin-left: 46px ! important;
  }

  .phone-mockup-media{
    margin-top: 80px ! important;
    margin-bottom: -87px ! important;
  }

  .heading-best-food-media{
    font-size: 50px;
    line-height: 55px;
  }


.section-order-div{

      margin-left: 60px ! important;
    margin-top: 130px ! important;
}

.enter-personal-number-div{
      width: 320px ! important;
}

.slide-round{
  margin-left: -100px ! important;
}

.homechow-wallet-div-1{
      margin-left: 78px ! important;
    margin-top: 30px ! important;
}

.process-order-div-header{
      margin-left: -400px ! important;
}

.location-media-p-order-media{

}

.overlay-p-order-div-live-media{
  margin-left: 418px ! important;
    /* margin-bottom: 11px ! important; */
    margin-top: 305px ! important;
    width: 365px ! important;
}

.overlay-p-order-div-media{
  width: 300px ! important;
    margin-left: 450px ! important;
    margin-top: 370px ! important;
}

.desc-media-p-order{
      width: 378px ! important;
    margin-left: 163px ! important;
    height: 340px ! important;
}

.homechow-wallet-div-2{
    margin-left: 78px ! important;
    margin-top: 31px ! important;
}

.homechow-wallet-div-3{
      margin-top: 29px ! important;
    margin-left: 79px ! important;
}

  .google-play-media{
    margin-left: -8px ! important;
  }

  .apple-store-media{
     margin-left: 200px ! important;
  }

  .group-order-img-media{
    margin-left: 15px ! important;
  }

  .the-best-food-media{
    margin-left: 35px ! important;
  }

  .media-aside-content{
    margin-left: 30px ! important;
  }

  .play-video-media{
    margin-left: -285px;
  }

  .soon-media-1{
      margin-left: 240px ! important;
  }

  .soon-media-2{
    margin-left: 255px ! important;
  }

  .soon-media-3{
      margin-left: 265px ! important;
  }

  .soon-media-4{
    margin-left: 252px ! important;
  }

  .soon-media-5{
    margin-left: 240px ! important;
  }

  .soon-media-6{
    margin-left: 240px ! important;
  }

  .soon-media-7{

    margin-left: 240px ! important;

  }

  .search-div{
    margin-left: 31px ! important;
    padding-top: 0px ! important;
  }

  .favorite-media-img{

  }

  .breakfast-media-img{

    margin-top: -137px;
    margin-left: 225px;

  }

  .lunch-media-img{

    margin-top: -137px;
    margin-left: 480px;

  }

  .kitchen-media-img{

    margin-top: -137px;
    margin-left: 740px;

  }

  .snack-media-img{

    margin-top: -137px;
    margin-left: 1010px;

  }

  .drink-media-img{

    margin-top: -137px;
    margin-left: 1210px;

  }

  .good-food-div-media{
    width: 365px ! important;
    padding-right: 15px ! important;
  }

  .favorite-image-tilapia{
    width: 300px ! important;
  }

  .mins-40-media{
        margin-left: 320px ! important;
  }

  .search-media-input{
    border-radius: 25px ! important;
    padding-left: 50px  ! important;
    width: 340px  ! important;
    background-color: #EBEBEB  ! important;
  }

  .soon-media-market-place{
    margin-left: 280px ! important;
  }

  .all-restaurant-media-div{
    margin-top: 25px ! important; 
  }
  .hr-bottom-media{
    margin-top: -1px ! important;
  }

  .kenya-media{
    margin-top: 40px !important;
  }

  .social-list{
    margin-top: 60px;
    margin-bottom: -40px;
  }

  .basket-label-media{
    margin-left: -20px ! important;
  }

  .restaurants-media-logo{
    margin-left: -255px;
  }

  .featured-media{
    margin-left: 0px ! important;
  }

  .overlay-media{

  }
  .featured-food-image-2{

    margin-right: -145px ! important;
    margin-top: -175px ! important;

  }
  .featured-food-image-3{
    margin-left: -210px ! important;
    margin-top: -39px ! important;

  }
  .featured-food-image-4{

    margin-left: 151px ! important;
    margin-top: -180px ! important;

  }
  .featured-food-image-5{
    
  }

  .overlay-media-1{

    margin-top: -80px ! important;
    margin-left: 192px ! important;

  }

  .overlay-media-2{

    margin-left: 13px ! important;
    margin-top: 55px ! important;

  }

  .overlay-media-3{

    margin-left: 193px ! important;
    margin-top: -86px ! important;

  }

  .overlay-media-4{
    margin-left: 110px ! important;
    margin-top: 58px ! important;
  }
  .featured-food-image-5{

    margin-left: -15px ! important;
    margin-top: -40px ! important;

  }

  .featured-food-image-2{

  }
  .ellipsis-media{
    margin-left: 100px ! important;
  }
  .star-media-restaurant{
    margin-left: -10px ! important;
  }

  .description-media-restaurants{
    width: 370px ! important;
     margin-left: 0px ! important;
    margin-top: 17px ! important;
  }

  .featured-food-image-1{
    margin-right: 0px ! important;
    margin-left: -230px ! important;
  }

  .overlay-media{
    margin-left: 5px ! important;
  }

  .floating-busket-counter-media{

    margin-left: 16px ! important;

  }
  .commucation-button-media{
          margin-left: 330px ! important;
  }

  .button-view-media{
        margin-right: 0px ! important;
  }

  .drinks-flier-media{
    width: 385px ! important;
    height: 160px ! important;
  }
  
  .modal-media-drink{
    width: 395px ! important;
    margin-left: 1px ! important;
  }

  .title-drink-media{
    margin-top: 15px ! important;
  }

  .view-all-media{
    margin-left: 270px ! important;
  }
  
  .drink-img-media-1{
    margin-left: 80px ! important;
  }

  .image-drill-media{
    margin-left: -165px ! important;
  }

  .content-media-drilldown{

    width: 380px ! important;
    margin-top: -50px ! important;

  }

  .content-counte-media{

    margin-left: 105px ! important;
    margin-top: 50px ! important;

  }

  .modal-restaurants-menu{
    margin-left: 50px;
  }

  .start-media-group{
        margin-left: 200px;
  }

  .add-media-rest{
        margin-left: 200px;
  }

  .modal-media-header{
    margin-left: -62px ! important;
  }
  .set-order-time{
  margin-left: 70px ! important;
  }
  .choose-time{
  margin-left: 70px ! important;
  }
  .text-media{
    width: 265px ! important;
  }
  
  .choose-time-button{
    margin-left: 110px ! important;
  }
.delivery-div-media{
      margin-left: -80px;
}
.available-div-media{
margin-left: 10px ! important;
}
.amount-media-div{
margin-left: 290px ! important;
}
.div-banku-inner-div{
margin-left: 125px ! important;
}

.div-group-div-media{
margin-left: 15px ! important;
    margin-bottom: 35px ! important;
}

.close-div-media{
margin-left: 330px ! important;
}

.hoogah-div-media{
      margin-left: 45px ! important;

}

.desc-div-media{
    margin-left: 47px ! important;
}

.hr-received-media{
      margin-left: 30px ! important;
}

.heading-media-div{
  margin-left: 30px ! important;
}
.but-media-div{

  padding-right: 40px ! important;
  margin-left: 30px ! important;

}
.form-join-media-div{
     margin-left: 0px ! important;
    width: 350px ! important;
}
.are-media-div{

}
.requirements-div-media{
width: 350px ! important;
    margin-left: -40px ! important;
}
.h2-requirement-media{

}
.background-color-div-media{
    margin-top: -785px ! important;
    margin-bottom: 0px ! important;
    margin-left: -10px ! important;
    width: 300px ! important;
    height: 300px ! important;
}

.desc-freq-div{
  width: 350px ! important;
  margin-left: -73px ! important;
}
.class-header-terms{
width: 350px ! important;
    font-size: 50px ! important;
    line-height: 58px ! important;
    margin-bottom: -65px ! important;
}
.paragraph-media-div{
      width: 350px ! important;
}
.class-header-frequently{
  width: 350px ! important;
    font-size: 50px ! important;
    line-height: 58px ! important;
    margin-bottom: -65px ! important;
    margin-left: -60px ! important;
}
.send-div-media{
  width: 350px ! important;
}

.send-button-okay{
      margin-left: -50px ! important;
}

.p-process-div{
  width: 350px ! important;
  margin-left: -73px ! important;
}
.background-color-media-div{
  margin-top: -600px ! important;
    margin-bottom: 0px ! important;
    margin-left: 25px ! important;
    width: 300px ! important;
    height: 300px ! important;
}
.are-ready-to-join-media{
  padding-top: 0px ! important;
  margin-top: -200px ! important;
}
.rider-button-submit{
      margin-left: 120px ! important;
      padding-top: 60px ! important;
}
.name-div-media1{
    margin-left: -200px ! important;
    margin-top: 30px ! important;
}
.all-div-media{
font-size: 45px ! important;
    margin-top: -300px ! important;
}
.process-three-div-media{
    margin-left: -240px ! important;
}
.join-rider-media-div{
      width: 350px ! important;
}
.but-div-media{
    margin-left: 0px ! important;
    width: 380px ! important;
    padding-right: 25px ! important;
}
.button-readmore-rider{
      margin-left: 125px ! important;

}
.process-one-div-media{
    margin-left: -200px ! important;
    margin-top: -200px ! important;
}
.process-two-div-media{
margin-left: -250px ! important;
}

.pan-media-diiv{
      margin-left: -131px ! important;
    width: 350px ! important;
}
.logo-pan-div{
  margin-left: -95px ! important;
}

.div-media-thank-you{
    margin-left: -120px ! important;
    width: 320px ! important;
}

.go-back-div-media{
  margin-left: -110px ! important;
}

.send-request-div{
width: 135px ! important;
    margin-bottom: 0px ! important;
}

.send-request-div-book{
      margin-left: 110px ! important;
}

.class-form-div{
  width: 400px ! important;
  margin-left: 0px ! important;
}

.calender-img-div{
    margin-left: 270px ! important;
}

.total-order-media{
margin-left: -57px ! important;
}
.name-div-media{
  margin-left: 30px ! important;
}
.share-group-media{
  margin-left: 160px ! important;
}
.received-div-media{
    margin-left: 30px ! important;
    margin-top: -8px ! important;
}

.info-media-div{
  margin-left: 45px ! important;
}

.total-div-media{
margin-left: -46px ! important;
}
.div-receive-media{
    margin-left: -50px ! important;
}
.div-paragraph{
    width: 345px ! important;
    padding-left: 20px ! important;
    padding-right: 20px ! important;
    margin-left: 23px ! important;
}

.enter-custom-discount{
  margin-left: 20px ! important;
    width: 345px ! important;
}
.group-media{
  margin-left: -25px ! important;
}

.join-group-media{
    margin-left: 150px ! important;
}
.total-div-media{
  margin-left: -45px;
}
.div-media-banku{
    margin-left: 10px ! important;
    width: 365px ! important;
}
.modal-basket-media{
  margin-left: -55px;
    margin-bottom: 15px;
}
  .created-by-media{
    margin-left: -345px ! important;
  }
  .more-stars-media{
        margin-left: 260px ! important;
  }
  .number-rating{
  margin-left: 75px ! important;
  }

  .stars-media{
    margin-left: 75px ! important;
  }

  .rating-media{
    margin-left: -24px ! important;
  }

  .row-media{
    margin-left: 35px ! important;
  }

  .icons-media{
    margin-bottom: -37px;
    margin-left: 37px;
  }

  .media-rest-rev{
        margin-left: 200px;
  }

  .media-report-rest{
        margin-left: 200px;
  }

  .media-share-rest{
        margin-left: 200px;
  }

  .submit-button-media{

    margin-left: 90px ! important;

  }

  .image-drill-down-media{

    margin-left: 50px ! important;

  }

  #buttonDiv{

    margin-left: 115px ! important;

  }

  .lunch-pasta-media{

    margin-left: 0px ! important;

  }
  .banku-media-img{

    margin-left: 15px ! important;

  }

  .search-svg-media{
    margin-bottom: 2px ! important;
    padding-left: 20px ! important;
  }
  .desc-media{
    width: 250px ! important;
  }

  .image-modal-media{
    width: 396px ! important;
    height: 350px ! important;
  }

  .banku-media-header{

    margin-top: -8px ! important;
    width: 340px ! important;

  }

  .amount-media-banku{

  }

  .extras-media{
    width: 350px ! important;
  }

  .media-p-mark{
    width: 350px ! important;
  }

  .fancy-media{
    margin-left: 115px ! important;

  }

  .fancy-media-button{
    margin-left: 90px ! important;
  }

  .amount-media{
    margin-left: 120px ! important;
    margin-top: 6px ! important;
  }
  .hr-food-media{
      width: 350px ! important;
    margin-left: 23px ! important;
    margin-top: 40px ! important;
  }

  .input-media-search{

    width: 310px ! important;
    border-style: none;
    height: 40px;
    margin-left: -36px ! important;

  }

  .search-media-rest{

    margin-left: -110px ! important;

  }

  .hr-media-rest{

    margin-left: 70px ! important;
    width: 300px ! important;

  }

  .single-image-media{
    width: 370px ! important;
    margin-left: 15px ! important;
  }

  .media-content-drill-down{

    margin-top: 30px ! important;
    margin-left: 107px ! important;

  }

  .drink-img-media-2{
    margin-top: 80px ! important;
    margin-left: 80px ! important;
  }

  .drink-img-media-3{
    margin-left: 80px ! important;
    margin-top: 70px ! important;
  }

  .communication-img{
    margin-top: 0px ! important;
  }

 
  #kitchenId{
    margin-left: 0px;
  }

  #newVendor{
    margin-left: 0px ! important;
    margin-top: 20px ! important;
  }

  #groupOrdersId{
    margin-left: -45px;
  }

  #drinksId{
    margin-left: -40px;
  }

   #partyBookingId{
    margin-left: -40px;
  }
}


